# **Questions for 2D-Arrays**

**The average maximum and minimum monthly temperatures (in Centigrades) in London are given as follows:-<br/>January, 6,3
<br/>February, 7,3
<br/>March 10, 4
<br/>April 13,6
<br/>May 17, 9
<br/>June 20,12
<br/>July 22, 14
<br/>August 21, 14
<br/>September 19, 12
<br/>October 19, 9
<br/>November 10, 6
<br/>December 7, 3**

## **(1) Create a 2D-Array called Temperature to represent the above information.**

In [3]:
Temperature = [["January", 6,3],
            ["February", 7,3],
            ["March", 10, 4],
            ["April", 13,6],
            ["May", 17, 9],
            ["June", 20,12],
            ["July", 22, 14],
            ["August", 21, 14],
            ["September", 19, 12],
            ["October", 19, 9],
            ["November", 10, 6],
            ["December", 7, 3]]

## **(2) Write a statement which will print out the average maximum temperature for March?**

In [8]:
print("Average Maximum Temperature in March ", Temperature[2][1])

Average Maximum Temperature in March  10

## **(3) Write a statement which will print out the average maximum temperature for June?**

## **(4) Write a statement which will output the average minimum temperature for January?**

In [10]:
print("Average Minimum for January ", Temperature[0][2])

Average Minimum for January  3

## **(5)Write a statement to print out the data for August**

In [13]:
print(Temperature[7][0], '  ',Temperature[7][1],'  ',Temperature[7][2])

August    21    14

## **(6) Write a statement to print out the data for May**

## **(7) Write a Program which output the average of the maximum average temperatures**

In [22]:
# Maximum Average Temperature is Stored in Column 1 (Remember we start counting from column zero)
sum = 0
count = 0
for maxtemp in range(1,11): # As there are 12 months
    Y = Temperature[maxtemp][1]
    sum = sum+int(Y)
    count = count+1
Average = sum/count
print("Average maximum temperature is ", Average, " Centigrade")

Average maximum temperature is  15.8  Centigrade

## **(8) Write a Program which output the average of the minimum average temperatures**

## **(9)You are given a 2-D Array with Data about Countries, with Country, Population and Carbon Dioxide Emission**

In [26]:
# Country, Population and Carbon Dioxide Emission in MT
Countries = [["China", 1439323776,  9056 ],
             ["India", 1380004385, 2076],
             ["United States", 331002651, 4833],
             ["United Kingdom", 67886011, 371]]

## **(10) Write a Program which gives the total population of these 4 countries**

##Â **(11) Write a Program which outputs the average population of these 4 countries**

## **(12)Write a Program which calculates and outputs the total Carbon Dioxide Emissions of these 4 countries**

In [31]:
total = 0
for row in range(4):
    carbon = Countries[row][1]  #Population is in Column 1
    total = total +int(carbon)
print("Total Carbon Dioxide Emission ",total)

Total Carbon Dioxide Emission  3218216823

## **(13) Write a Program which outputs the average carbon dioxide emission of these 4 countries**

## **(14) Alex and this 3 friends are training to run a marathon. Alex records how many miles he and his 3 friends ran each day last week. Alex stores the data in a 2D-array called distanceRun.**

<img src="2D_Array_Question_61_4.002.jpeg" alt="Kitten"
	title="A cute kitten" width="500" height="500" />

## **So, the data is represented by the following 2D-Array**

In [9]:
distanceRun =[[9,10,8,12,0,6,9],
             [10,12,15,15,0,0,10],
             [15,14,13,16,0,8,9],
             [6,8,9,10,12,12,0]]

## **(15)The distance run by runner 2 on day 0  is given by distanceRun[0,2]**
## **Write a Programming Statement to display the distance run by runner 3 on day 4**

## **(16) Write a Program that takes a runner number as an input and outputs the total number of miles that they ran over the week.**

## **(17)Alex constructs the following 2D-Array to record the scores of 10 rounds on quizes by 6 different players. Write a Program to output the average (mean) score for each round**

<img src="Practice_Paper_2_2d.002.jpeg" alt="Kitten"
	title="A cute kitten" width="500" height="500" />

In [1]:
Scores = [[7, 10, 3, 19, 7, 17, 4, 6, 12, 17],
          [8, 1, 20, 20, 18, 8, 14, 1, 15, 9],
         [17, 7, 1, 20, 15, 3, 13, 20, 0, 17],
         [17, 0, 15, 15, 20, 15, 9, 7, 12, 8],
          [19, 19, 0, 12, 19, 2, 9, 9, 6,0],
          [11, 5, 15, 9, 9, 12, 13, 15, 2, 18]]