**2D-Arrays or Lists of Lists**

**(1) Defining a 2D Array with 3 Rows and 3 Columns**

In [1]:
# PROGRAM 1
movies = [["Mary Poppins",2018, 10.15],
          ["Star Wars", 2019, 9.99],
          ["White Swan",2020, 12.97]]

**(2) Displaying Information in the 2D-Array**

In [2]:
# PROGRAM 2
# Displaying the Information in the 2D-Array
print("Movie Information")
print(movies)
print("\n")

Movie Information
[['Mary Poppins', 2018, 10.15], ['Star Wars', 2019, 9.99], ['White Swan', 2020, 12.97]]

**(3) Adding to the 2D-Array or lists of lists**

In [3]:
# PROGRAM 3
movies.append(["The Yellow Road",2017,7.5])

**(4) Displaying Information in the 2D-Array**

In [4]:
# PROGRAM 4
print("Movie Information")
print(movies)
print("\n")

Movie Information
[['Mary Poppins', 2018, 10.15], ['Star Wars', 2019, 9.99], ['White Swan', 2020, 12.97], ['The Yellow Road', 2017, 7.5]]

**(5)Accessing Individual Items from the 2D-List of Movies**

In [5]:
# PROGRAM 5
# Accessing individual items from the 2D-List of Movies
print("Item in Position 0,0 ", movies[0][0])
print("Item in Position  1,1 ", movies[1][0])
print("Item in Position 2,2 ", movies[2][2])

Item in Position 0,0  Mary Poppins
Item in Position  1,1  Star Wars
Item in Position 2,2  12.97

**(6) Looping through the Rows and Columns of a 2D-Array**

In [6]:
# PROGRAM 6
# Looping through the rows and columns in a 2D-Array
for movie in movies:
    print(movie)

['Mary Poppins', 2018, 10.15]
['Star Wars', 2019, 9.99]
['White Swan', 2020, 12.97]
['The Yellow Road', 2017, 7.5]

**(7) What is the average of the 3rd items in the 2D-Array movies?**

In [7]:
# PROGRAM 7
# Average
sum = 0
for row in movies:
    for item in row:
        print(row, " ",item)
#        print(movies[row][item])

['Mary Poppins', 2018, 10.15]   Mary Poppins
['Mary Poppins', 2018, 10.15]   2018
['Mary Poppins', 2018, 10.15]   10.15
['Star Wars', 2019, 9.99]   Star Wars
['Star Wars', 2019, 9.99]   2019
['Star Wars', 2019, 9.99]   9.99
['White Swan', 2020, 12.97]   White Swan
['White Swan', 2020, 12.97]   2020
['White Swan', 2020, 12.97]   12.97
['The Yellow Road', 2017, 7.5]   The Yellow Road
['The Yellow Road', 2017, 7.5]   2017
['The Yellow Road', 2017, 7.5]   7.5